* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.MuiDataGrid-root {
    --DataGrid-containerBackground: #121212 !important;
    color: white;
}

.MuiTablePagination-root,
.MuiSvgIcon-root,
.MuiPaper-root,
.MuiMenuItem-root:hover,
.MuiFormLabel-root,
.MuiSelect-select,
.MuiInputBase-input {
    color: white !important;
}

.MuiDataGrid-row:hover {
    background-color: #1d2834 !important;
}

.MuiPaper-root,
.MuiMenuItem-root:hover {
    background-color: #121212 !important;
}

.MuiMenuItem-root:hover {
    background-color: #1d2834 !important;
}

.MuiDataGrid-virtualScrollerContent {
    flex-basis: inherit !important;
}

.MuiDataGrid-main {
    overflow-x: auto !important;
}

.fake-buttons-container {
    padding: 8px;
    background: transparent;
    position: relative;
    left: 8px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.fake-buttons-container:hover {
    background-color: #121212;
}

.fake-buttons-container-active {
    background-color: #121212;
}

.fake-button-icon {
    width: 28px;
    height: 28px;
    fill: #006bd6;
}

.fake-button-icon-stroke {
    width: 28px;
    height: 28px;
    stroke: #006bd6;
}

.fake-buttons-icon-fill-active {
    fill: #fff;
}

.fake-buttons-icon-stroke-active {
    stroke: #fff;
}


.wrapper {
    width: 100%;
    height: 100%;
    background: #0f1214;
    display: flex;
    flex-direction: column;
}

.top-line {
    width: 100%;
    height: 60px;
    background: #0a0a0d;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-line-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-left: 8px;
}

.left-line {
    width: 60px;
    height: 100%;
    background: #0a0a0d;
    margin-right: 32px;
    position: relative;
    top: -16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.fake-btn {
    background: #0a0a0d;
    border: 2px solid #fff;
    border-radius: 16px;
    color: #fff;
    padding: 8px 16px;
    margin-right: 16px;
    cursor: pointer;
}

.fake-btn:hover {
    filter: brightness(125%);
}

.datagrid-container {
    max-height: 100%;
    width: 100%;
    padding-right: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.datagrid-temp {
    border: none;
    color: white;
    background: #1e1e1e;
}

.linkToAISite {
    color: #fff;
    text-decoration: none;
}

.linkToAISite:hover {
    text-decoration: underline;
    filter: brightness(125%);
}