@import "tailwindcss";

* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: oklch(0.439 0 0);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: oklch(0.389 0 0);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}